body {
    text-align: center;
    background: linear-gradient(#FFF908 50%, #7FFF00 90%);
    background-repeat: no-repeat;
}

img {
    border-radius: 9px;
}

.menu {
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 9;
    cursor: pointer;
}

.links:hover {
    background-color: blue;
    font-size: 25px;
}

.links {
    float: left;
    list-style: none;
    padding-top: 5px;
    padding-left: 9px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: 'Architects Daughter', cursive;
    padding-right: 9px;
}

#welcome {
    font-family: 'Architects Daughter', cursive;
    position: absolute;
    top: 100px;
    right: 100px;
    left: 100px
}

h1 {
    font-family: cursive;
}
